<template>
    <div class="container">
        <div class="row mb-3">
            <div class="col-12 col-md-7">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="h2 font-weight-bold mb-4 d-block">Delivery Calculator</h1>
                        <form>
                            <div class="form-group row">
                                <label for="supplier" class="col-sm-3 col-form-label">Supplier</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="supplier" v-model="supplier">
                                        <option v-for="(supplierLabel, supplierCode) in suppliers" :key="supplierCode"
                                                :value="supplierCode">{{ supplierLabel }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="location" class="col-sm-3 col-form-label">Location</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="location" v-model="location">
                                        <option v-for="(locationLabel, locationCode) in locations" :key="locationCode"
                                                :value="locationCode">{{ locationLabel }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="datetime" class="col-sm-3 col-form-label">Date/Time</label>
                                <div class="col-sm-9">
                                    <VueCtkDateTimePicker v-model="datetime">
                                        <input id="datetime" type="text" class="form-control"
                                               placeholder="Please select delivery date and time"
                                               v-model="datetime"/>
                                    </VueCtkDateTimePicker>
                                </div>
                            </div>
                            <button type="button" @click="calculate()" class="btn btn-primary mb-2">Calculate</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" v-if="isCalculating">
            <div class="col-7">
                <i class="fas fa-spinner fa-pulse fa-3x fa-fw" style="color: rgba(0,0,0,.65)"></i>
            </div>
        </div>
        <div class="row" v-if="message.length">
            <div class="col-7">
                <div class="alert alert-info" role="alert">
                    {{ message }}
                </div>
            </div>
        </div>
        <div class="row" v-if="error.length">
            <div class="col-7">
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                message: '',
                error: '',
                isCalculating: false,
                supplier: '',
                location: '',
                datetime: '',
                suppliers: {
                    '': 'Please select a delivery supplier',
                    'royal_mail': 'Royal Mail'
                },
                locations: {
                    '': 'Please select a delivery location',
                    'GB': 'United Kingdom',
                    'DE': 'Germany',
                    'FR': 'France',
                    'US': 'United States'
                }
            }
        },
        methods: {
            calculate() {
                this.isCalculating = true;
                this.error = '';
                this.message = '';

                let url = '/api/calculate/delivery/date?location=' + this.location
                    + '&supplier=' + this.supplier + '&datetime=' + this.datetime;

                axios.get(url)
                    .then((response) => {

                        this.message = 'The estimated delivery date is ' + response.data.delivery_date + '.';

                        this.isCalculating = false;
                    })
                    .catch((error) => {
                        // handle error
                        this.error = 'An error occurred.';

                        this.isCalculating = false;
                    })
            }
        }
    }
</script>
